body,
textarea,
select,
input,
button {
    color: red;
    font-size: 25px;
    background-color: aliceblue;
}

main {
    width: 50px;
    margin: 0 auto;
    margin-top: 3rem;

}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: black;
    color: white
}

input {
    color: black;
}


p {
    color: black;
    display: flex;
    justify-content: center;
}